@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$logo_container_color: #343030;
$menu_container_color: #565252;
$menu_logo_text_color: #ffffff;
$menu_element_primary_color: #ffffff;
$menu_element_secondary_color: #797979;
$menu_element_selected_color: #3F3939;

@mixin can-display($width) {
  @if $width == 0 {
    display: none;
  }
  else {
    display: initial;
  }
}

.menu__icon {
  display: none;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #212121;
  margin: 6px 0;
}

.element {
  color: $menu_element_primary_color;
  padding: 10px 30px;
  text-transform: uppercase;
}

.element:hover {
  cursor: pointer;
  color: $menu_element_primary_color;
  background-color: $menu_element_selected_color;
}

.element.selected {
  background-color: $menu_element_selected_color;
}

.element__id, .element__name {
  display: inline-block;
}

.element__id {
  min-width: 30px;
  text-align: right;
  color: $menu_element_secondary_color;
}

.element__name {
  text-align: left;
  padding-left: 20px;
  color: #FFFFFF;
}

.side_menu {
  font-weight: 300;
  font-size: 14px;
  width: 359px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $menu_container_color;
  transition: width .5s;
}

.side_menu_elements {
  max-height: 86%;
  overflow-x: scroll;
}

.side_menu_elements a, .side_menu__app_logo a {
  display: block;
}

.side_menu__app_logo {
  background-color: $logo_container_color;
}

.side_menu__app_logo a {
  text-align: center;
  padding: 25px 39px;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: $menu_logo_text_color;
}

.side_menu__app_logo a img {
  vertical-align: middle;
  padding-right: 30px;
}

.menu__icon{
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .side_menu {
    width: 250px;
  }

  .side_menu__app_logo a img {
    padding: 5px 0;
  }
}

@media only screen and (max-width: 768px) {
  .side_menu {
    width: 0;
  }

  .menu__icon {
    display: block;
  }

  .side_menu_container {
    padding-top: 30px;
    padding-left: 60px;
  }
}